* {
    margin: 0;
    padding: 0;
}

h1 {
    color:brown;
    text-align: center;
    font-size: 200px;
}
button {
    width: 500px;
    height: 200px;
    margin: 20px;
    font-size: 50px;
    border-radius: 5px;
}

.bouton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.total {
    display: flex;
    justify-content: space-evenly;
}

table {
    border-color: black;
    border: 3px solid;
    max-width: 900px;
    max-height: 900px;
    margin: 20px;
}

td {
    color:black;
    text-align: center;
    font-size: 40px;
    border-color: black;
    border: 3px solid;
    width: 100px;
    height: 100px;
}

input {
    color:black;
    text-align: center;
    font-size: 40px;
    max-width: 70px;
    max-height: 70px;
}