* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

h1 {
    color:rgb(56, 43, 43);
    text-align: center;
    font-size: 200px;
}
button {
    background-color:dimgrey;
    width: 500px;
    height: 200px;
    margin: 20px;
    font-size: 50px;
    border-radius: 30px;
    box-shadow: rgba(18, 18, 77, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.bouton {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.total {
    display: flex;
    justify-content:center;
}

table {
    background-color:cornsilk;
    border-color: black;
    border: 3px solid;
    margin: 20px;
}

td {
    color:black;
    background-color: rgba(255, 127, 80, 0.5);
    text-align: center;
    font-size: 40px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

input {
    color:brown;
    text-align: center;
    font-size: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

input:hover {
    border: 2px solid;
    border-radius: 50%;
    border-color: rgba(255, 127, 80, 0.5);
}